.latlong-row{
    display: flex;
}
.error-box{
    background-color: red;
}
.latlong{
    width: 9rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield; /* Standard property for future compatibility */
}